# DataFrames using Julia

Step-1: Check the status of the project file to find out what packages are there and need to be included.

In [1]:
] status

      Status `~/Project.toml`
  [a93c6f00] DataFrames v1.2.2
  [38e38edf] GLM v1.5.1
  [c91e804a] Gadfly v1.3.3
  [438e738f] PyCall v1.92.5
  [d330b81b] PyPlot v2.10.0
  [ce6b1742] RDatasets v0.7.5
  [10745b16] Statistics

isfile.(["Project.toml", "Manifest.toml"])  
You can use this command at the very start of the project to make sure that we have both files.

Step-2: If the packages are not installed in the project file, then use instantiate command to install the rest.

#Note: If some installation issue comes up regarding some packages:
-> It might have to do something with some PyCall error.
-> To resolve that, we can run the following commands in the Julia terminal
ENV["PYTHON"]=""
;import Pkg
;Pkg.add("_package_")
;Pkg.build("_package_")

In [2]:
] instantiate

In [10]:
import Pkg
Pkg.add("DataFrames")

    Updating registry at `C:\Users\viyen\.julia\registries\General`
    Updating git-repo `https://github.com/JuliaRegistries/General.git`
   Resolving package versions...
  No Changes to `C:\Users\viyen\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\viyen\.julia\environments\v1.6\Manifest.toml`

In [11]:
import Pkg
Pkg.add("Statistics")

   Resolving package versions...
  No Changes to `C:\Users\viyen\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\viyen\.julia\environments\v1.6\Manifest.toml`

In [12]:
import Pkg
Pkg.add("GLM")

   Resolving package versions...
  No Changes to `C:\Users\viyen\.julia\environments\v1.6\Project.toml`
  No Changes to `C:\Users\viyen\.julia\environments\v1.6\Manifest.toml`

In [13]:
using DataFrames
using Statistics
using GLM

In [8]:
ENV["PYTHON"]=""
import Pkg
Pkg.add("PyCall")

   Resolving package versions...
  No Changes to `~/Project.toml`
  No Changes to `~/Manifest.toml`

In [9]:
import Pkg
Pkg.build("PyCall")

    Building Conda ─→ `/srv/julia/pkg/scratchspaces/44cfe95a-1eb2-52ea-b672-e2afdf69b78f/299304989a5e6473d985212c28928899c74e9421/build.log`
    Building PyCall → `/srv/julia/pkg/scratchspaces/44cfe95a-1eb2-52ea-b672-e2afdf69b78f/4ba3651d33ef76e24fef6a598b63ffd1c5e1cd17/build.log`

In [14]:
mt = [
      1.05  6.04  11.17 3.23  10.99  7.46  8.60  6.56
      2.2   6.99  3.33  8.57   8.7  6.77  7.07   5.76
      13.07  6.28  3.46 9.24  13.0  12.74 8.06   7.77
      9.90   9.81  4.57  1.09  9.40  7.11  5.80   8.12
      11.16  1.33  1.24 9.99  1.0  7.81  2.12   8.47
      12.0  4.56  9.80  8.67  4.0  8.84  6.10   7.03
      6.0   8.24  4.99  6.90  6.0  6.08  1.01   5.20
      3.0   5.26  1.67  3.45  4.40  5.39  19.0  12.60 
      1.01  10.88  13.90 9.17  13.20  8.15  11.1  5.56
      7.09   3.81  7.70  7.22  8.60  6.42  8.05   7.81
      5.35   2.66  8.67  4.75  15.60  5.73  7.77  6.08
      8.63  6.27  2.22 11.30   2.91 4.00  2.22  13.0]

12×8 Matrix{Float64}:
  1.05   6.04  11.17   3.23  10.99   7.46   8.6    6.56
  2.2    6.99   3.33   8.57   8.7    6.77   7.07   5.76
 13.07   6.28   3.46   9.24  13.0   12.74   8.06   7.77
  9.9    9.81   4.57   1.09   9.4    7.11   5.8    8.12
 11.16   1.33   1.24   9.99   1.0    7.81   2.12   8.47
 12.0    4.56   9.8    8.67   4.0    8.84   6.1    7.03
  6.0    8.24   4.99   6.9    6.0    6.08   1.01   5.2
  3.0    5.26   1.67   3.45   4.4    5.39  19.0   12.6
  1.01  10.88  13.9    9.17  13.2    8.15  11.1    5.56
  7.09   3.81   7.7    7.22   8.6    6.42   8.05   7.81
  5.35   2.66   8.67   4.75  15.6    5.73   7.77   6.08
  8.63   6.27   2.22  11.3    2.91   4.0    2.22  13.0

In [15]:
#auto command helps to give labels to the dataframe
df = DataFrame(mt, :auto)

12×8 DataFrame
 Row │ x1       x2       x3       x4       x5       x6       x7       x8
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    1.05     6.04    11.17     3.23    10.99     7.46     8.6      6.56
   2 │    2.2      6.99     3.33     8.57     8.7      6.77     7.07     5.76
   3 │   13.07     6.28     3.46     9.24    13.0     12.74     8.06     7.77
   4 │    9.9      9.81     4.57     1.09     9.4      7.11     5.8      8.12
   5 │   11.16     1.33     1.24     9.99     1.0      7.81     2.12     8.47
   6 │   12.0      4.56     9.8      8.67     4.0      8.84     6.1      7.03
   7 │    6.0      8.24     4.99     6.9      6.0      6.08     1.01     5.2
   8 │    3.0      5.26     1.67     3.45     4.4      5.39    19.0     12.6
   9 │    1.01    10.88    13.9      9.17    13.2      8.15    11.1      5.56
  10 │    7.09     3.81     7.7      7.22     8.6      6.42     8.05     7.81
  11 │    5.35     2.66     8.67     4.75    15.6      5.73     7.77     6.08
  12 │    8.63     6.27     2.22    11.3      2.91     4.0      2.22    13.0

In [11]:
#we can create our own labels using the vec function
n = vec(string.(["a", "b"], [1 2 3 4]))

8-element Vector{String}:
 "a1"
 "b1"
 "a2"
 "b2"
 "a3"
 "b3"
 "a4"
 "b4"

In [12]:
#rename helps to use to the labels created by the vec function 
rename!(df, n)

12×8 DataFrame
 Row │ a1       b1       a2       b2       a3       b3       a4       b4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    1.05     6.04    11.17     3.23    10.99     7.46     8.6      6.56
   2 │    2.2      6.99     3.33     8.57     8.7      6.77     7.07     5.76
   3 │   13.07     6.28     3.46     9.24    13.0     12.74     8.06     7.77
   4 │    9.9      9.81     4.57     1.09     9.4      7.11     5.8      8.12
   5 │   11.16     1.33     1.24     9.99     1.0      7.81     2.12     8.47
   6 │   12.0      4.56     9.8      8.67     4.0      8.84     6.1      7.03
   7 │    6.0      8.24     4.99     6.9      6.0      6.08     1.01     5.2
   8 │    3.0      5.26     1.67     3.45     4.4      5.39    19.0     12.6
   9 │    1.01    10.88    13.9      9.17    13.2      8.15    11.1      5.56
  10 │    7.09     3.81     7.7      7.22     8.6      6.42     8.05     7.81
  11 │    5.35     2.66     8.67     4.75    15.6      5.73     7.77     6.08
  12 │    8.63     6.27     2.22    11.3      2.91     4.0      2.22    13.0

In [13]:
#This is also another method to create the labels
DataFrame(mt, [:a1, :b1, :a2, :b2, :a3, :b3, :a4, :b4])

12×8 DataFrame
 Row │ a1       b1       a2       b2       a3       b3       a4       b4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    1.05     6.04    11.17     3.23    10.99     7.46     8.6      6.56
   2 │    2.2      6.99     3.33     8.57     8.7      6.77     7.07     5.76
   3 │   13.07     6.28     3.46     9.24    13.0     12.74     8.06     7.77
   4 │    9.9      9.81     4.57     1.09     9.4      7.11     5.8      8.12
   5 │   11.16     1.33     1.24     9.99     1.0      7.81     2.12     8.47
   6 │   12.0      4.56     9.8      8.67     4.0      8.84     6.1      7.03
   7 │    6.0      8.24     4.99     6.9      6.0      6.08     1.01     5.2
   8 │    3.0      5.26     1.67     3.45     4.4      5.39    19.0     12.6
   9 │    1.01    10.88    13.9      9.17    13.2      8.15    11.1      5.56
  10 │    7.09     3.81     7.7      7.22     8.6      6.42     8.05     7.81
  11 │    5.35     2.66     8.67     4.75    15.6      5.73     7.77     6.08
  12 │    8.63     6.27     2.22    11.3      2.91     4.0      2.22    13.0

In [15]:
#here are the ways to access the column values
df.b2

12-element Vector{Float64}:
  3.23
  8.57
  9.24
  1.09
  9.99
  8.67
  6.9
  3.45
  9.17
  7.22
  4.75
 11.3

In [16]:
df."b2"

12-element Vector{Float64}:
  3.23
  8.57
  9.24
  1.09
  9.99
  8.67
  6.9
  3.45
  9.17
  7.22
  4.75
 11.3

In [17]:
df[:, :b2]

12-element Vector{Float64}:
  3.23
  8.57
  9.24
  1.09
  9.99
  8.67
  6.9
  3.45
  9.17
  7.22
  4.75
 11.3

In [18]:
df[:, "b2"]

12-element Vector{Float64}:
  3.23
  8.57
  9.24
  1.09
  9.99
  8.67
  6.9
  3.45
  9.17
  7.22
  4.75
 11.3

You can use select! function to group columns with similar labels on one side and group others on the other side

In [45]:
select!(df, r"a", :)

12×8 DataFrame
 Row │ a1       a2       a3       a4       b1       b2       b3       b4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    1.05    11.17    10.99     8.6      6.04     3.23     7.46     6.56
   2 │    2.2      3.33     8.7      7.07     6.99     8.57     6.77     5.76
   3 │   13.07     3.46    13.0      8.06     6.28     9.24    12.74     7.77
   4 │    9.9      4.57     9.4      5.8      9.81     1.09     7.11     8.12
   5 │   11.16     1.24     1.0      2.12     1.33     9.99     7.81     8.47
   6 │   12.0      9.8      4.0      6.1      4.56     8.67     8.84     7.03
   7 │    6.0      4.99     6.0      1.01     8.24     6.9      6.08     5.2
   8 │    3.0      1.67     4.4     19.0      5.26     3.45     5.39    12.6
   9 │    1.01    13.9     13.2     11.1     10.88     9.17     8.15     5.56
  10 │    7.09     7.7      8.6      8.05     3.81     7.22     6.42     7.81
  11 │    5.35     8.67    15.6      7.77     2.66     4.75     5.73     6.08
  12 │    8.63     2.22     2.91     2.22     6.27    11.3      4.0     13.0

In [47]:
#describe is a statistical function
describe(df, mean => :mean, std => :std)

8×3 DataFrame
 Row │ variable  mean     std
     │ Symbol    Float64  Float64
─────┼────────────────────────────
   1 │ a1        6.705    4.29827
   2 │ a2        6.06     4.11091
   3 │ a3        8.15     4.56417
   4 │ a4        7.24167  4.77004
   5 │ b1        6.01083  2.77753
   6 │ b2        6.965    3.15162
   7 │ b3        7.20833  2.18373
   8 │ b4        7.83     2.55218

Add a new column by the name of id

In [19]:
df.c_id = 1:nrow(df)
df

12×9 DataFrame
 Row │ a1       b1       a2       b2       a3       b3       a4       b4       ⋯
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    1.05     6.04    11.17     3.23    10.99     7.46     8.6      6.56  ⋯
   2 │    2.2      6.99     3.33     8.57     8.7      6.77     7.07     5.76
   3 │   13.07     6.28     3.46     9.24    13.0     12.74     8.06     7.77
   4 │    9.9      9.81     4.57     1.09     9.4      7.11     5.8      8.12
   5 │   11.16     1.33     1.24     9.99     1.0      7.81     2.12     8.47  ⋯
   6 │   12.0      4.56     9.8      8.67     4.0      8.84     6.1      7.03
   7 │    6.0      8.24     4.99     6.9      6.0      6.08     1.01     5.2
   8 │    3.0      5.26     1.67     3.45     4.4      5.39    19.0     12.6
   9 │    1.01    10.88    13.9      9.17    13.2      8.15    11.1      5.56  ⋯
  10 │    7.09     3.81     7.7      7.22     8.6      6.42     8.05     7.81
  11 │    5.35     2.66     8.67     4.75    15.6      5.73     7.77     6.08
  12 │    8.63     6.27     2.22    11.3      2.91     4.0      2.22    13.0
                                                                1 column omitted

In [20]:
select(df, "c_id", :)

12×9 DataFrame
 Row │ c_id   a1       b1       a2       b2       a3       b3       a4       b ⋯
     │ Int64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  F ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1     1.05     6.04    11.17     3.23    10.99     7.46     8.6     ⋯
   2 │     2     2.2      6.99     3.33     8.57     8.7      6.77     7.07
   3 │     3    13.07     6.28     3.46     9.24    13.0     12.74     8.06
   4 │     4     9.9      9.81     4.57     1.09     9.4      7.11     5.8
   5 │     5    11.16     1.33     1.24     9.99     1.0      7.81     2.12    ⋯
   6 │     6    12.0      4.56     9.8      8.67     4.0      8.84     6.1
   7 │     7     6.0      8.24     4.99     6.9      6.0      6.08     1.01
   8 │     8     3.0      5.26     1.67     3.45     4.4      5.39    19.0
   9 │     9     1.01    10.88    13.9      9.17    13.2      8.15    11.1     ⋯
  10 │    10     7.09     3.81     7.7      7.22     8.6      6.42     8.05
  11 │    11     5.35     2.66     8.67     4.75    15.6      5.73     7.77
  12 │    12     8.63     6.27     2.22    11.3      2.91     4.0      2.22
                                                                1 column omitted

In [21]:
df

12×9 DataFrame
 Row │ a1       b1       a2       b2       a3       b3       a4       b4       ⋯
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    1.05     6.04    11.17     3.23    10.99     7.46     8.6      6.56  ⋯
   2 │    2.2      6.99     3.33     8.57     8.7      6.77     7.07     5.76
   3 │   13.07     6.28     3.46     9.24    13.0     12.74     8.06     7.77
   4 │    9.9      9.81     4.57     1.09     9.4      7.11     5.8      8.12
   5 │   11.16     1.33     1.24     9.99     1.0      7.81     2.12     8.47  ⋯
   6 │   12.0      4.56     9.8      8.67     4.0      8.84     6.1      7.03
   7 │    6.0      8.24     4.99     6.9      6.0      6.08     1.01     5.2
   8 │    3.0      5.26     1.67     3.45     4.4      5.39    19.0     12.6
   9 │    1.01    10.88    13.9      9.17    13.2      8.15    11.1      5.56  ⋯
  10 │    7.09     3.81     7.7      7.22     8.6      6.42     8.05     7.81
  11 │    5.35     2.66     8.67     4.75    15.6      5.73     7.77     6.08
  12 │    8.63     6.27     2.22    11.3      2.91     4.0      2.22    13.0
                                                                1 column omitted

In [16]:
Matrix(df)

12×8 Matrix{Float64}:
  1.05   6.04  11.17   3.23  10.99   7.46   8.6    6.56
  2.2    6.99   3.33   8.57   8.7    6.77   7.07   5.76
 13.07   6.28   3.46   9.24  13.0   12.74   8.06   7.77
  9.9    9.81   4.57   1.09   9.4    7.11   5.8    8.12
 11.16   1.33   1.24   9.99   1.0    7.81   2.12   8.47
 12.0    4.56   9.8    8.67   4.0    8.84   6.1    7.03
  6.0    8.24   4.99   6.9    6.0    6.08   1.01   5.2
  3.0    5.26   1.67   3.45   4.4    5.39  19.0   12.6
  1.01  10.88  13.9    9.17  13.2    8.15  11.1    5.56
  7.09   3.81   7.7    7.22   8.6    6.42   8.05   7.81
  5.35   2.66   8.67   4.75  15.6    5.73   7.77   6.08
  8.63   6.27   2.22  11.3    2.91   4.0    2.22  13.0

#GLM example

In [23]:
K = DataFrame(A=[70, 25, 92, 16], B=[20, 44, 17, 18], C=[16, 17, 28, 96])

4×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    70     20     16
   2 │    25     44     17
   3 │    92     17     28
   4 │    16     18     96

@formula will take the dataframe columns A and B and give a formula for it.
lm function helps in fitting a linear model.

In [24]:
L = lm(@formula(B ~ A), K)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

B ~ 1 + A

Coefficients:
─────────────────────────────────────────────────────────────────────────
                 Coef.  Std. Error      t  Pr(>|t|)  Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────────────
(Intercept)  33.403      13.1712     2.54    0.1266  -23.2681    90.0741
A            -0.170503    0.220711  -0.77    0.5206   -1.12015    0.77914
─────────────────────────────────────────────────────────────────────────

stderror function gives the standard error values in the model

In [25]:
stderror(L)

2-element Vector{Float64}:
 13.171202632805619
  0.22071111263112683

Next, predict function will obtain predicted values from the model

In [26]:
predict(L)

4-element Vector{Float64}:
 21.46782068353307
 29.140447657092125
 17.716758607570867
 30.67497305180394