# Julia Workshop

### "Hello World"

In [207]:
println("Hello World")

Hello World

### Operators

In [208]:
println(7+8) #Add
println(3-5) #Substract
println(6*3) #Multiply
println(55/11) #Divide
println(13/2) #Divide
println(5^2) #Power 
println(5%2) #Remainder

15
-2
18
5.0
6.5
25
1

### Numeric Comparison Operators

In [209]:
println(500 == 500)
println(500 == 501)
println(500 != 500)
println(100 == 100.0) 
println(100 < 200) 
println(-5 <= -5)

true
false
false
true
true
true

### Variables

In [210]:
#Case Sensitive: student_name and Student_name are not the same
#Names have to start with an underscore or letter or certain unicode characters 
#Variables can contain digits or special characters but should not begin with them
#Operators can also be named to use variable 

student_name = "Julia"
student_age = 15
student_gpa = 2.5
last_name = "Smith"

println(student_name)
println(typeof(student_age))
println(typeof(student_gpa))

Julia
Int64
Float64

### Strings

In [211]:
s = "Julia is a great language"
b = """Julia says, "Hi". """
student_name = "Julia"
last_name = "Smith"

println(b)
println(s[end])
println(s[begin])
println("$student_name$last_name")

Julia says, "Hi".
e
J
JuliaSmith

### Insert Variables Into A String

In [212]:
student_name = "Julia"
student_gpa = 2.5
println("The student's name is $student_name and her gpa is $student_gpa.")

The student's name is Julia and her gpa is 2.5.

## Data Structures

### Tuples

In [213]:
#Immutable 
students = ("Ally","Julia","Bob")
println(students)
println(students[2:end])


#Another type of tuple
tupl = ((1,2),(3,4))
println(tupl[1])
println(tupl[1][2])

("Ally", "Julia", "Bob")
("Julia", "Bob")
(1, 2)
2

### Named Tuples

In [214]:
#Keys with tuples 
coord = (x1 = (1,1), x2 = (-1,-1), x3 = (0,0) )
println(coord.x2) #use . 

#Combining two named tuples 

new_coord = (x3 = (5,1), x4 = (-6,-1), x5 = (3,0) )
merge(coord,new_coord)

(-1, -1)

(x1 = (1, 1), x2 = (-1, -1), x3 = (5, 1), x4 = (-6, -1), x5 = (3, 0))

### Dictionaries

In [215]:
contacts  = Dict("Phone" => "678-459-8431", "Address" => "324 Bermont Point")
println(contacts)

Dict("Address" => "324 Bermont Point", "Phone" => "678-459-8431")

In [216]:
#Search for a key
haskey(contacts, "Address")

true

In [217]:
#add to a dictionary
contacts["Zip"] = "30005"
println(contacts)

#remove from a dictionary
#Delete an element from a dictionary
pop!(contacts,"Phone")
println(contacts)

Dict("Address" => "324 Bermont Point", "Phone" => "678-459-8431", "Zip" => "30005")
Dict("Address" => "324 Bermont Point", "Zip" => "30005")

### Arrays

In [218]:
#Index starts at 1 
a = [1,3,2,4,5,6]
println(a[3])
println(a[end])
println(4 in a)
println(findfirst(isequal(2),a))
println(size(a))
println(length(a))

2
6
true
3
(6,)
6

In [219]:
#called maximum and minimum instead of min and max 
println(maximum(a))
println(minimum(a))

6
1

In [220]:
println(a *3)

[3, 9, 6, 12, 15, 18]

### Creating arrays using comprehensions and generators

In [221]:
square_array = [n^2 for n in 1:8]
println(square_array)

[1, 4, 9, 16, 25, 36, 49, 64]

### Creating arrays with different types

In [222]:
empty_arr = Int64[]
different_type = [15,"Julia",3.95]
println(empty_arr)
println(different_type)

Int64[]
Any[15, "Julia", 3.95]

### Collect Function

In [223]:
#Create an array using range objects is collect()
println(collect(1.5:10.5)) #Step Size 1 
println(collect(0:2:16)) #Step Size 2

[1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 10.5]
[0, 2, 4, 6, 8, 10, 12, 14, 16]

### Creating 2-D Arrays

In [224]:
[n *m for n in 1:8, m in 1:8]

8×8 Matrix{Int64}:
 1   2   3   4   5   6   7   8
 2   4   6   8  10  12  14  16
 3   6   9  12  15  18  21  24
 4   8  12  16  20  24  28  32
 5  10  15  20  25  30  35  40
 6  12  18  24  30  36  42  48
 7  14  21  28  35  42  49  56
 8  16  24  32  40  48  56  64

### Populating An Array

In [225]:
#Populating an array of zeros
zero = zeros(4,5)
zero

4×5 Matrix{Float64}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [226]:
#Populating an array with ones 
ones(4,5)

4×5 Matrix{Float64}:
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0

In [227]:
#m*n matrix of normally distributed random numbers with mean=0 and standard deviation = 1 
rnorm_arr = rand(4,5)

4×5 Matrix{Float64}:
 0.758932  0.623587  0.647571   0.700826  0.0981899
 0.297693  0.243941  0.368938   0.773796  0.331872
 0.804888  0.278723  0.45662    0.167135  0.664903
 0.463063  0.368211  0.0635996  0.333001  0.0350247

### Accessing Contents of an 2D Array

In [228]:
println(rnorm_arr[3,2])
println(getindex(rnorm_arr,3,2))

0.2787233393036965
0.2787233393036965

### Adding and Removing Elements from an array

In [229]:
v = collect(1:7)
push!(v,8) #add at the end 
pushfirst!(v,8) #add at the front 
splice!(v,2:1,[10,11]) #add at a given index 
println(v)

[8, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8]

In [230]:
println(pop!(v)) #remove last element of an array 
println(v)
println(popfirst!(v))# remove first element of an array
println(v)
println(splice!(v,2)) #remove the second element of an array
println(v)

8
[8, 10, 11, 1, 2, 3, 4, 5, 6, 7]
8
[10, 11, 1, 2, 3, 4, 5, 6, 7]
11
[10, 1, 2, 3, 4, 5, 6, 7]

### You can even store functions in an array!

In [231]:
math_functions = [sin,cos,tan]
for i in math_functions
    println(i(0))
    end''''';;;;;

0.0
1.0
0.0