#Introduction to yfinance

#yfinance is an amazing library offered by python as it helps to fetch real-time up-to-date data from yahoo finance.
#Once we understand yfinance, we will be able to use it on any company's stock data as we like.

In [1]:
import yfinance as yf

In [2]:
#A ticker symbol is also known as a stock symbol. It is just a short-hand to describe a company's stock. 
#The symbol size is generally 3-5 alphabets long.
#We will take the stock information of Tesla.
tsla = yf.Ticker("TSLA")

In [3]:
#info helps to get us the stock information
tsla.info

{'zip': '94304',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 70757,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products through its subsidiaries to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.',
 'city': 'Palo Alto',
 'phone': '650-681-5000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.tesla.com',
 'maxAge': 1,
 'address1': '3500 Deer Creek Road',
 'industry': 'Auto Manufacturers',
 'ebitdaMargins': 0.15512,
 'profitMargins': 0.07403,
 'grossMargins': 0.23107,
 'operatingCashflow': 9930999808,
 'revenueGrowth': 0.568,
 'operatingMargins': 0.09789,
 'ebitda': 7266999808,
 'targetLowPrice': 67,
 'recommendationKey': 'hold',
 'grossProfits': 6630000000,
 'freeCashflow': 4644624896,
 'targetMedianPrice': 860,
 'currentPrice': 1178.416,
 'earningsGrowth': 4.333,
 'currentRatio': 1.385,
 'returnOnAssets': 0.055370003,
 'numberOfAnalystOpinions': 35,
 'targetMeanPrice': 836.72,
 'debtToEquity': 35.65,
 'returnOnEquity': 0.15641,
 'targetHighPrice': 1400,
 'totalCash': 16094999552,
 'totalDebt': 10158000128,
 'totalRevenue': 46848000000,
 'totalCashPerShare': 16.027,
 'financialCurrency': 'USD',
 'revenuePerShare': 48.272,
 'quickRatio': 1.002,
 'recommendationMean': 2.6,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 24.279,
 'beta3Year': None,
 'enterpriseToEbitda': 156.518,
 '52WeekChange': 1.1789019,
 'morningStarRiskRating': None,
 'forwardEps': 8.17,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 1004259968,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 26.945,
 'sharesShort': 28075921,
 'sharesPercentSharesOut': 0.027999999,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.43004,
 'netIncomeToCommon': 3468000000,
 'trailingEps': 3.062,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.31316328,
 'priceToBook': 43.734127,
 'heldPercentInsiders': 0.19338,
 'nextFiscalYearEnd': 1672444800,
 'yield': None,
 'mostRecentQuarter': 1632960000,
 'shortRatio': 1.14,
 'sharesShortPreviousMonthDate': 1632960000,
 'floatShares': 818154490,
 'beta': 2.008831,
 'enterpriseValue': 1137413455872,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '5:1',
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 3.888,
 'priceToSalesTrailing12Months': 25.261185,
 'dateShortInterest': 1635465600,
 'pegRatio': 2.57,
 'ytdReturn': None,
 'forwardPE': 144.23697,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0344,
 'sharesShortPriorMonth': 29205723,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 1137.06,
 'regularMarketOpen': 1162.33,
 'twoHundredDayAverage': 736.90594,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 1201.94,
 'navPrice': None,
 'averageDailyVolume10Day': 31776340,
 'regularMarketPreviousClose': 1137.06,
 'fiftyDayAverage': 917.374,
 'trailingAnnualDividendRate': None,
 'open': 1162.33,
 'toCurrency': None,
 'averageVolume10days': 31776340,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 1132.8201,
 'currency': 'USD',
 'trailingPE': 384.85175,
 'regularMarketVolume': 26629334,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1183435980800,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 23898237,
 'dayLow': 1132.8201,
 'ask': 1173.6,
 'askSize': 900,
 'volume': 26629334,
 'fiftyTwoWeekHigh': 1243.49,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 501.79,
 'bid': 1173.01,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1200,
 'dayHigh': 1201.94,
 'regularMarketPrice': 1178.416,
 'preMarketPrice': 1162.35,
 'logo_url': 'https://logo.clearbit.com/tesla.com'}

In [4]:
#You can access any key value from the above dictionary dataset
#For example, let's find out the total revenue of Tesla
tsla.info["totalRevenue"]

46848000000

In [5]:
#This will show the dividends and splits of the dataset
tsla.actions

            Dividends  Stock Splits
Date
2020-08-31        0.0           5.0

In [7]:
#A stock split increases the number of shares per stock of the company
tsla.splits

Date
2020-08-31    5.0
Name: Stock Splits, dtype: float64

In [8]:
#This will the yearly or quarterly finance information of the company
#tsla.financials
tsla.quarterly_financials

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Research Development,611000000.0,576000000.0,666000000.0,522000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1882000000.0,1293000000.0,533000000.0,379000000.0
Minority Interest,1441000000.0,1446000000.0,1448000000.0,1454000000.0
Net Income,1618000000.0,1142000000.0,438000000.0,270000000.0
Selling General Administrative,994000000.0,973000000.0,1056000000.0,969000000.0
Gross Profit,3660000000.0,2884000000.0,2215000000.0,2066000000.0
Ebit,2055000000.0,1312000000.0,594000000.0,575000000.0
Operating Income,2055000000.0,1312000000.0,594000000.0,575000000.0
Other Operating Expenses,NaN,23000000.0,-101000000.0,-101000000.0
Interest Expense,-125000000.0,-84000000.0,-79000000.0,-241000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,223000000.0,115000000.0,69000000.0,83000000.0
Total Revenue,13757000000.0,11958000000.0,10389000000.0,10744000000.0
Total Operating Expenses,11702000000.0,10646000000.0,9795000000.0,10169000000.0
Cost Of Revenue,10097000000.0,9074000000.0,8174000000.0,8678000000.0
Total Other Income Expense Net,-173000000.0,-19000000.0,-61000000.0,-196000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1659000000.0,1178000000.0,464000000.0,296000000.0
Net Income Applicable To Common Shares,1618000000.0,1142000000.0,438000000.0,270000000.0

In [9]:
#You can view the entire history of Tesla's stock. You can alter the parameters as you like
tsla.history(period="Max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2021-11-16,1003.309998,1057.199951,1002.179993,1054.729980,26542400,0,0.0
2021-11-17,1063.510010,1119.640015,1055.500000,1089.010010,31445400,0,0.0
2021-11-18,1106.550049,1112.000000,1075.020020,1096.380005,20898900,0,0.0
2021-11-19,1098.869995,1138.719971,1092.699951,1137.060059,21168000,0,0.0
2021-11-22,1162.329956,1201.939941,1132.820068,1177.667969,26664166,0,0.0

In [10]:
#We can see the stock market analyst's recommendation on stocks
tsla.recommendations

                                  Firm    To Grade From Grade Action
Date
2012-02-16 07:42:00          JP Morgan  Overweight              main
2012-02-16 13:53:00         Wunderlich        Hold              down
2012-02-17 06:17:00         Oxen Group         Buy              init
2012-03-26 07:31:00         Wunderlich         Buy                up
2012-05-22 05:57:00        Maxim Group         Buy              init
...                                ...         ...        ...    ...
2021-10-21 14:23:55       Roth Capital     Neutral              main
2021-10-21 14:33:04  Canaccord Genuity         Buy              main
2021-10-27 12:15:11      Goldman Sachs         Buy              main
2021-10-28 14:15:36      Piper Sandler  Overweight              main
2021-11-08 12:27:21          Jefferies         Buy              main

[416 rows x 4 columns]

In [11]:
tsla.major_holders

        0                                      1
0  19.34%        % of Shares Held by All Insider
1  43.00%       % of Shares Held by Institutions
2  53.31%        % of Float Held by Institutions
3    2819  Number of Institutions Holding Shares

In [12]:
#institutional holders includes various legal entities, credit unions and other banks
tsla.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",61992012,2021-09-29,0.0617,48073565465
1,Blackrock Inc.,52829488,2021-09-29,0.0526,40968211354
2,Capital World Investors,37427314,2021-09-29,0.0373,29024133460
3,State Street Corporation,31230141,2021-09-29,0.0311,24218349742
4,Baillie Gifford and Company,13853124,2021-09-29,0.0138,10742820599
5,"Geode Capital Management, LLC",13169939,2021-09-29,0.0131,10213024295
6,Jennison Associates LLC,10630339,2021-09-29,0.0106,8243615287
7,"FMR, LLC",9921292,2021-09-29,0.0099,7693763520
8,Northern Trust Corporation,8634516,2021-09-29,0.0086,6695894467
9,Norges Bank Investment Management,7790070,2020-12-30,0.0078,5497218696

In [13]:
tsla.news

[{'uuid': '0a990798-e751-3787-b805-c74c0fc971db',
  'title': 'Dow Jones Leads Upside While Nasdaq Pares Gains; Growth Stocks See Heavy Sell-Off; Tesla Stock Pops On Elon Musk Tweet',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/0a990798-e751-3787-b805-c74c0fc971db/dow-jones-leads-upside-while.html',
  'providerPublishTime': 1637606367,
  'type': 'STORY'},
 {'uuid': '955d27fa-e07c-3261-afc8-16153ae7ee12',
  'title': 'Tesla details $1 billion costs for new Texas factory, targets year-end completion',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/tesla-details-1-billion-costs-183417711.html',
  'providerPublishTime': 1637606057,
  'type': 'STORY'},
 {'uuid': 'afba27a3-0213-3bda-bb11-df4a90ba19ad',
  'title': 'Stocks on the move: Amazon, Rivian, Blink, Airbnb, cannabis stocks, semiconductors, and more',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/stocks-move-amazon-rivian-blink-181122465.html',
  'providerPublishTime': 1637604682,
  'type': 'VIDEO'},
 {'uuid': 'f0f91cbc-4d6e-34a6-b324-955cf13381d4',
  'title': 'Why Nio Stock Blasted Higher Today',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/f0f91cbc-4d6e-34a6-b324-955cf13381d4/why-nio-stock-blasted-higher.html',
  'providerPublishTime': 1637603220,
  'type': 'STORY'},
 {'uuid': 'c14d1616-0966-320e-a1ef-690edbd7f1ff',
  'title': 'Ford stock up slightly, Rivian down more than 10% as partnership falls through',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/ford-stock-slightly-rivian-down-174348306.html',
  'providerPublishTime': 1637603028,
  'type': 'VIDEO'},
 {'uuid': '40d3573c-28cc-3c23-8f87-2e30469a881c',
  'title': 'Rivian Stock Is Giving Up Its Gigantic IPO Gains. Blame Ford and Tesla.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/40d3573c-28cc-3c23-8f87-2e30469a881c/rivian-stock-is-giving-up-its.html',
  'providerPublishTime': 1637602740,
  'type': 'STORY'},
 {'uuid': 'acc12e95-48f8-3ce6-8c22-ec62a5c29c5e',
  'title': 'Is Lucid Motors Stock A Buy Right Now After Surging On Third Quarter Earnings?',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/acc12e95-48f8-3ce6-8c22-ec62a5c29c5e/is-lucid-motors-stock-a-buy.html',
  'providerPublishTime': 1637601254,
  'type': 'STORY'},
 {'uuid': '15293607-fd73-3796-a184-073a922ab047',
  'title': 'Tesla’s Winning Streak Delivers Additional $175 Billion in Market Value',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/tesla-winning-streak-delivers-additional-163817764.html',
  'providerPublishTime': 1637599097,
  'type': 'STORY'}]